<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>
</nav>
<div class="container">
  <div class="mainWindow">
    <div class="row">
      <div *ngFor="let sbs of getsecondTwosbt()" class="col-md-6">
        <div class="subsciptionTypeDiv">
            <div class="subsciptionTypeImg">
                <img width="100%" src={{sbs.image}}>
            </div>
          <div class="subsciptionTypeTitle">
            <p>
              {{sbs.title}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>
</nav>

