@import '~bootstrap/dist/css/bootstrap.min.css';

.body{
  background-color:#f1f1f1;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.mainWindow {
  background-color:white;
  padding-top: 60px;
  padding-bottom: 90px;
}

.navbar{
  min-height: 90px;
}

.header-top{
  background-color:red;
  padding-top:30px;
}

.card{
  padding:0px;
}

.subsciptionTypeTitle{
  color: #000;
  font-weight: bold;
  font-size: 21px;
  font-family: aleo, serif;
  line-height: 120%;
  font: normal 'PT Sans', sans-serif;
}

.subsciptionDiv{
  padding: 15px;
}

.navbar-light{
  background-color:#e25900 !important;

}
.navbar-brand{
  color:white !important;
}

