@import '~bootstrap/dist/css/bootstrap.min.css';

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.mainWindow {
  background-color:white;
  padding-bottom: 90px;
}

.navBtn{
  font: normal 14px/1 'PT Sans', sans-serif;
  color:#7e7e7e;
}

.header {
  padding-top:20px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
}

.navbar{
  min-height: 70px;
}

.header-top{
  background-color:red;
  padding-top:30px;
}

.card{
  padding:0px;
}

.subsciptionTypeTitle{
  color: #000;
  font-weight: bold;
  font-size: 21px;
  font-family: aleo, serif;
  line-height: 120%;
  font: normal 'PT Sans', sans-serif;
}

.subsciptionDiv{
  padding: 15px;
}

.navbar-light{
  background-color:#e25900 !important;

}
.navbar-brand{
  color:white !important;
}

