@import '~bootstrap/dist/css/bootstrap.min.css';

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.mainWindow {
  background-color:white;
  padding-bottom: 90px;
}

.order-nav-bar, .page-nav-bar{
  margin-top: 10px;
}

.navBtn{
  font: normal 14px/1 'PT Sans', sans-serif;
  color:black
}

.navBtn:hover{
  background-color:#e9ecef;
  color:#007bff;
}

.header {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
}

.navbar{
  min-height: 70px;
}

.card{
  padding:0px;
}

.subsciptionTitle, .subsciptionPrice{
  color: #000;
  font-weight: bold;
  font-size: 21px;
  font-family: aleo, serif;
  line-height: 120%;
  font: normal 'PT Sans', sans-serif;
}

.subsciptionDiv{
  padding: 15px;
}

.navbar-light{
  background-color:#e25900 !important;
}
.navbar-brand{
  color:white !important;
}

