<div class="container" style="margin: auto">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>
  </nav>
  <div class="mainWindow">
    <div class="row">
      <div *ngFor="let sbs of getSbsForDesktop()" class="subsciptionDiv col-md-6 col-s-12">
        <div class="card">
          <div class="card-img-top">
            <img width="100%" [src]="sbs.image">
          </div>
          <div class="card-body">
            <h5 class="card-text subsciptionTypeTitle">
              {{sbs.title}}
            </h5>
            <p class="card-text">
              <small class="text-muted">{{sbs.published}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>
  </nav>
</div>
